
@{
    ViewBag.Title = "Home";
}

<h2>Reginald's Ancient Antiquities Auction House</h2>

@Html.ActionLink("Create an Item", "Create", "Items")<br />
@Html.ActionLink("View the Item List", "Index", "Items")<br /><br />

@Html.ActionLink("Bid on an Item", "Create", "Bids")<br />
@Html.ActionLink("View the Bid List", "Index", "Bids")<br />