
@{
    ViewBag.Title = "Home";
}

<h2>Reginald's Ancient Antiquities Auction House</h2>

Create an Item:
@Html.ActionLink("Create an Item", "Create", "Items")<br />
@Html.ActionLink("View the Item List", "Index", "Items")<br />
@Html.ActionLink("Edit an Item", "Edit", "Items")<br />