<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="~/Scripts/JavaScript.js"></script>

@{
    ViewBag.Title = "Home";
}

<h2>Internet Language Translator</h2>


<div class="usertyping">
    @Html.TextBox("Userstring", null, new { @class = "form-control", placeholder = "Start typing your message here...", id="texting" })
</div>
<button type="button" onclick="window.location.reload()">Clear Me!</button>
<br /><br />

<div class="echo">

</div>