@model IEnumerable<HW6.Person>

@{
    ViewBag.Title = "Home";
}

<br />
<h2 align="center">Client Search</h2>
<div align="center">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        @Html.TextBox("q", null)<button type="submit">Search!</button>
    }
</div>
<br />

@if (ViewBag.message!=null && Model.Count()==0)
{
    <p>
        Sorry, we don't have anyone by that name. Check your spelling?
    </p>
}
else
{
    <table>
        @foreach (var person in Model)
        {
            <tr>
                <td class="searched">
                    @Html.ActionLink(@person.FullName, "Details", "Home", new { id = person.PersonID },null)
                </td>
            </tr>
        }
    </table>
}